@import '../../scss/helper/variables';

.btn {
  width: 200px;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
  background: $secondary;
  color: white;
  border: none;
  &:hover {
    background: darken($secondary, 20%);
  }
}