@import '../helper/variables';

.bg {
  &_red {
    min-height: 100vh;
    background-color: red;
  }
  &_green {
    min-height: 100vh;
    background-color: green;
  }
  &_blue {
    min-height: 100vh;
    background-color: blue;
  }
}