@import '../../scss/helper/variables';

header {
  background-color: #000;
  .container {
    height: 50px;
  }
  .nav {
    height: 100%;
    align-items: center;
  }
  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: $primary;
    padding-top: 0;
    padding-bottom: 0;
    &.active {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $primary;
      }
    }
  }
}